.adminhtml-system-config-edit #row_christmasdecoration_snowfall_pattern td.value ul.checkboxes li {
    display: inline-block;
    margin-right: 5px;
}
.adminhtml-system-config-edit #row_christmasdecoration_snowfall_pattern td.value ul.checkboxes li img{
    width: 30px;
}
.adminhtml-system-config-edit #row_christmasdecoration_header_image_pattern td.value div.admin__field {
    display: inline-block;
}
.adminhtml-system-config-edit #row_christmasdecoration_footer_image_pattern td.value div.admin__field {
    display: inline-block;
}
.adminhtml-system-config-edit #row_christmasdecoration_background_image_pattern td.value div.admin__field {
    display: inline-block;
}
.adminhtml-system-config-edit #row_christmasdecoration_moving_image_pattern td.value div.admin__field {
    display: inline-block;
}

.adminhtml-system-config-edit #config-edit-form .delete-image{
    display: block;
}

